<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>ProjectManager</title>
    <link rel="stylesheet" th:href="@{~/static/js/layui/css/layui.css}"/>
    <link rel="stylesheet" th:href="@{~/css/projectui.css}"/>
    <script th:src="@{~/static/js/layui/layui.js}"></script>
</head>
<body>
    <!--main content start-->
    <div id="pro_content">
        <!--the content with searching by param start-->
        <div id="proSrc">
            <fieldset class="layui-elem-field">
                <div class="layui-field-box">
                    项目名称：
                    <div class="layui-inline">
                        <input title='proName' class="layui-input" name="proName" placeholder='请输入项目名称' autocomplete="off">
                    </div>
                    平台名称：
                    <div class="layui-inline">
                        <input title='proEve' class="layui-input" name="proEve" placeholder='请输入平台名称' autocomplete="off">
                    </div>
                    项目状态：
                    <div class="layui-inline layui-form-item layui-form" style="margin: 0 auto">
                        <select title='proStatus' name="proStatus" class="proStatus">
                            <option value="0" >有效</option>
                            <option value="1">无效</option>
                            <option value="2" >所有</option>
                        </select>
                    </div>
                    <button class="layui-btn" data-type="src">查询</button>
                    <button class="layui-btn" data-type="insert">新增</button>
                    <button class="layui-btn" data-type="refresh">刷新</button>
                </div>
            </fieldset>
        </div>
        <!--the content with searching by param end-->
        <!--table start-->
        <div id="proDetails">
            <table class="layui-hide" id="proTable" lay-filter="tableEdit"></table>
        </div>
        <!--table end-->
    </div>
    <!--main content end-->
</body>
</html>
<script type="text/html" id="toolbar">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
</script>
<script>

    /**
      * @author 莫杨
      * @date 2018/5/18 14:14
      */

    layui.use(['layer','table'],function () {
        /**
         * 加载框架模块
         * @type {string|*|string}
         */
        var layer = layui.layer,
            table = layui.table,
            $ = layui.$;

        /**
         * table init
         */
        var tableReload = table.render({
            elem: '#proTable'
            ,page: true
            ,cols: [
            	[
                {field: 'proId', title: '序号', width:'10%', sort: true, fixed: 'left',align: 'center'}
                ,{field: 'proName', title: '项目名称', width: '12.5%', align: 'center'}
                ,{field: 'proEve', title: '平台名称', width:'12.5%', align: 'center'}
                ,{field: 'proStatus', title: '项目状态', width:'10%', align: 'center'}
                ,{field: 'proPerson', title: '项目负责人', width: '10%', align: 'center'}
                ,{field: 'proPersonPhone', title: '项目负责人电话', width: '15%', align: 'center'}
                ,{field: 'proTips', title: '备注', width: '20%', align: 'center'}
                ,{field: 'personAuthority', title: '修改', width: '10%', align: 'center',toolbar:'#toolbar'}
            ]
            	]
            ,url: '../api/v1/pro'
            ,id: 'proReload'
        });

        /**
         * table reload
         * @param proName 项目名称
         * @param proEve  项目平台
         * @param proStatus 项目状态
         */
        function tableReloads(proName,proEve,proStatus) {
            //查询进行表格重载
            tableReload.reload({
                where: {
                    proName: proName,
                    proEve: proEve,
                    proStatus: proStatus
                },page: {
                    curr: 1
                }
            })
        }

        /**
         * 监听button事件
         * @type {{src: src, insert: insert,refresh:refresh}}
         */
        var active = {
            src: function() {
                tableReloads($("input[name='proName']").val(),
                            $("input[name='proEve']").val(),
                            $("select[name='proStatus']").val());
            },
            insert: function() {
                layer.open({
                    type: 2,
                    content: 'https://www.baidu.com',
                    shade:  [0.8, '#393D49'],
                    scrollbar: false,
                    success: function (layero){

                    }
                })
            },
            refresh: function() {
                tableReloads();
            }
        };

        $('.layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

        /**
         * 监听table工具栏
         */
        table.on('tool(tableEdit)', function(obj){
            var data = obj.data //获得当前行数据
                ,layEvent = obj.event; //获得 lay-event 对应的值
             if(layEvent === 'edit'){
                layer.msg(JSON.stringify(data));
            }
        });
    });
</script>